<p>dashboard works!</p>

<mat-card appearance="outlined">
  <mat-card-content class="example-card">
    <form class="example-form">
      <mat-form-field class="full-width">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Ex. Pizza" name="nombres" [(ngModel)]="nombres" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Ex. López" name="apellidos" [(ngModel)]="apellidos" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Meeting date</mat-label>
        <input matInput [matDatepicker]="datepicker" [(ngModel)]="meetingDate" name="meetingDate" />
        <mat-datepicker-toggle matSuffix [for]="datepicker" />
        <mat-datepicker #datepicker />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Meeting time</mat-label>
        <input
          matInput
          [matTimepicker]="timepicker"
          [(ngModel)]="meetingTime"
          name="meetingTime"
          [ngModelOptions]="{ updateOn: 'blur' }"
        />
        <mat-timepicker-toggle matSuffix [for]="timepicker" />
        <mat-timepicker #timepicker />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<!-- 

  fecha y hora 
  cantidad de personas
  nombres y contacto -->
