.card-container {
    margin: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px; /* espacio entre campos */
  }
  
  .full-width {
    width: 100%;
  }
  
  .example-card {
        width: 400px; /* Ajusta según lo que necesites */
        margin: 20px auto; /* Centrado vertical con margen */
        padding: 16px; /* Espacio interno */
  }

mat-form-field {
    margin-right: 16px;
  }
  