
<mat-card appearance="outlined">
  <mat-card-content><nav>
    <!-- <mat-card><a routerLink="/">Inicio</a></mat-card>
    <mat-card><a routerLink="/dashboard">Dashboard</a></mat-card>
    <mat-card><a routerLink="agregar">Agregar</a></mat-card> -->

    <mat-card><a mat-flat-button  routerLink="home" target="_blank">Inicio</a></mat-card>
    <mat-card><a mat-flat-button  routerLink="dashboard" target="_blank">Dashboard</a></mat-card>
    <mat-card><a mat-flat-button  routerLink="agregar" target="_blank">Agregar</a></mat-card>
  </nav></mat-card-content>
</mat-card>


<router-outlet></router-outlet>
