<div class="container">
    <mat-card class="modal quitarFondoCard" appearance="outlined">
        <mat-card-header class="titulo_form">
            <h2>Agregar Taxista</h2>
        </mat-card-header>
        <mat-card-content>
            <form class="form">
                <div class="split">
                    <div class="input_container">
                        <!-- <label for="password_field" class="input_label">Nombre Completo:</label> -->
                        <mat-form-field class="input_class">
                            <mat-label>Nombre Completo:</mat-label>
                            <input matInput placeholder="Ex. Pizza">
                            <mat-icon matSuffix>badge</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="input_container">
                        <!-- <label for="password_field" class="input_label">Teléfono:</label> -->
                        <mat-form-field class="input_class">
                            <mat-label>Teléfono:</mat-label>
                            <mat-icon matSuffix>phone_iphone</mat-icon>
                            <input matInput placeholder="Ex. Pizza">
                        </mat-form-field>
                    </div>
                </div>
                <div class="split">
                    <div class="input_container">
                        <mat-form-field class="input_class">
                            <mat-icon matSuffix>123</mat-icon>
                            <mat-label>Cédula:</mat-label>
                            <input matInput placeholder="Ex. Pizza">
                        </mat-form-field>
                    </div>
                    <div class="input_container">
                        <mat-form-field class="input_class">
                            <mat-icon matSuffix>pin</mat-icon>
                            <mat-label>Numero de placa:</mat-label>
                            <input matInput placeholder="Ex. Pizza">
                        </mat-form-field>
                    </div>
                </div>


                <button class="purchase--btn">Agregar</button>
            </form>
        </mat-card-content>


    </mat-card>
</div>