<div class="container">



    <mat-card class="modal quitarFondoCard" appearance="outlined">
        <mat-card-header class="titulo_form">
            <h2>Agregar Taxista</h2>
        </mat-card-header>
        <mat-card-content>
            <form class="form">
                <div class="input_container">
                    <label for="password_field" class="input_label">Nombre Completo:</label>

                    <mat-form-field class="input_class">
                        <!-- <mat-label>Nombre Completo:</mat-label> -->
                        <input matInput placeholder="Ex. Pizza">
                    </mat-form-field>
                </div>

                <div class="input_container">
                    <label for="password_field" class="input_label">Cédula:</label>

                    <mat-form-field class="input_class">
                        <!-- <mat-label>Cédula:</mat-label> -->
                        <input matInput placeholder="Ex. Pizza">
                    </mat-form-field>
                </div>
                <div class="input_container">
                    <label for="password_field" class="input_label">Numero de placa</label>

                    <mat-form-field class="input_class">
                        <!-- <mat-label>Teléfono:</mat-label> -->
                        <input matInput placeholder="Ex. Pizza">
                    </mat-form-field>
                </div>
                <div class="input_container">
                    <label for="password_field" class="input_label">Numero de placa</label>
                    <!-- <div class="split"> -->
                    <mat-form-field class="input_class">
                        <!-- <mat-label>Nombre Completo:</mat-label> -->
                        <input matInput placeholder="Ex. Pizza">
                    </mat-form-field>
                </div>

                <button class="purchase--btn">Agregar</button>
            </form>
        </mat-card-content>


    </mat-card>
</div>