<div class="container">
    <h2>Agregar Taxista</h2>

    <div class="modal">
        <form class="form">
            <div class="input_container">
                <label for="name_field" class="input_label">Nombre Completo</label>
                <input id="name_field" class="input_field" type="text" name="nombreCompleto" placeholder="Ingrese el nombre completo">
            </div>
            <div class="input_container">
                <label for="dni_field" class="input_label">DNI</label>
                <input id="dni_field" class="input_field" type="text" name="dni" placeholder="Ingrese el DNI">
            </div>
            <div class="input_container">
                <label for="telefono_field" class="input_label">Teléfono</label>
                <input id="telefono_field" class="input_field" type="text" name="telefono" placeholder="Ingrese el teléfono">
            </div>
            <div class="input_container">
                <label for="placa_field" class="input_label">Placa del Vehículo</label>
                <input id="placa_field" class="input_field" type="text" name="placaVehiculo" placeholder="Ingrese la placa del vehículo">
            </div>
            <!-- <button class="submit--btn">Registrar Taxista</button> -->
        </form>
  
        <form class="form">

            <div class="separator">
                <hr class="line">
                <p>or pay using credit card</p>
                <hr class="line">
            </div>
            <div class="credit-card-info--form">
                <div class="input_container">
                    <label for="password_field" class="input_label">Card holder full name</label>
                    <input id="password_field" class="input_field" type="text" name="input-name" title="Inpit title"
                        placeholder="Enter your full name">
                </div>
                <div class="input_container">
                    <label for="password_field" class="input_label">Card Number</label>
                    <input id="password_field" class="input_field" type="number" name="input-name" title="Inpit title"
                        placeholder="0000 0000 0000 0000">
                </div>
                <div class="input_container">
                    <label for="password_field" class="input_label">Expiry Date / CVV</label>
                    <div class="split">
                        <input id="password_field" class="input_field" type="text" name="input-name" title="Expiry Date"
                            placeholder="01/23">
                        <input id="password_field" class="input_field" type="number" name="cvv" title="CVV"
                            placeholder="CVV">
                    </div>
                </div>
            </div>
            <button class="purchase--btn">Checkout</button>
        </form>
    </div>
</div>