<mat-card>
    <!-- <mat-card class="modal quitarFondoCard" appearance="outlined">
        <mat-card-header class="titulo_form">
            <h2>Agregar Reserva ByTax</h2>
            <button mat-menu-item (click)="showView('add-taxista')">
                Usuarios
                <mat-icon>group</mat-icon>
              </button>
              <h1>{{currentView}}</h1>
        </mat-card-header> -->
        <mat-card-content>
           
            <form class="form" >
                <div class="split">
                    <div class="input_container">
                        <label for="password_field" class="input_label">Nombre Completo:</label>
                        <mat-form-field class="input_class">
                            <input matInput placeholder="Ex. Pizza">
                        </mat-form-field>
                    </div>
                    <div class="input_container">
                        <label for="password_field" class="input_label">Teléfono:</label>
                        <mat-form-field class="input_class">
                            <input matInput placeholder="Ex. Pizza">
                        </mat-form-field>
                    </div>
                </div>
                <div class="split">
                    <div class="input_container">
                        <label for="password_field" class="input_label">Cédula:</label>
                        <mat-form-field class="input_class">
                            <input matInput placeholder="Ex. Pizza">
                        </mat-form-field>
                    </div>
                    <div class="input_container">
                        <label for="password_field" class="input_label">Numero de placa</label>
                        <mat-form-field class="input_class">
                            <input matInput placeholder="Ex. Pizza">
                        </mat-form-field>
                    </div>
                </div>


                <button class="purchase--btn">Agregar</button>
            </form>
        </mat-card-content>


    </mat-card>
